.editor-counter {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    border-right: 0.5px solid #c5bfbf;
    border-bottom: 0.5px solid #c5bfbf;
    border-left: 0.5px solid #c5bfbf;
    border-top: 0.3px solid #c5bfbf;
}