/* https://bb.githack.com/m_bentz/org-chart/raw/a382e6f551e172c44da9b36a8a2d955499c09eca/chart.css */

#chart-container {
    display: inline-block;
    top: 10px;
    left: 10px;
    min-height: 420px;
    width: 100%;
    border: 2px dashed #aaa;
    border-radius: 5px;
    overflow: auto;
    text-align: center;
}

.orgchart {
    min-height: inherit;
    min-width: 100%;
    width: fit-content;
    min-height: inherit;
    background-image: linear-gradient(90deg, rgba(0, 98, 200, 0.15) 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(rgba(115, 104, 104, 0.15) 10%, rgba(0, 0, 0, 0) 10%);
}

li.select2-results__option {
    display: flex;
    height: 120px;
    justify-content: space-between;
    margin: 5px;
    border: 1px solid #e4c5c5;
}

.select2-container--default .select2-dropdown .select2-results>.select2-results__options {
    max-height: 500px;
    overflow-y: auto;
}


/*
 |     VERTICAL DEPTH
 |            
 */

.orgchart .verticalNodes>td::before {
    content: '';
    border: 1px solid #009cdb;
}

.orgchart .verticalNodes ul>li::before,
.orgchart .verticalNodes ul>li::after {
    border-color: #009cdb;
}

.orgchart .node {
    width: 160px;
    height: 80px;
    margin: 0 10px;
    /* Edge and IE use this */
    /* width: fit-content; */
    /* Chrome uses this */
}

.orgchart .node .flex {
    display: flex;
    height: inherit;
    width: inherit;
    border: 1px solid black;
}

.orgchart .node .title {
    height: 100%;
    /* width: 35%; Uncomment if images are desired  */
    width: 0%;
    background-color: #fff;
    color: #000;
    border-radius: 0;
}

.orgchart .node .title img {
    height: 100%;
    width: 100%;
}

.orgchart .node .content {
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    border: none;
    height: 100%;
    /* width: 65%; Uncomment if images are desired */
    width: 100%;
    color: whitesmoke;
    border-radius: 0;
}

.orgchart .node .content>p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0;
    white-space: normal;
}

.orgchart .node .content p.name {
    font-weight: bold;
    font-size: 1rem;
}

.orgchart .node .content>* {
    text-align: start;
}


/* Hide selected search bar image */

.select2-selection__rendered>img.person_small_img {
    display: none;
}

.orgchart .root-level .content {
    background-color: #019b18;
}

.orgchart .top-level .content {
    background-color: #fc1575;
}

.orgchart .middle-level .content {
    background-color: #ff8f00;
}

.orgchart .bottom-level .content {
    background-color: #01a5e7;
}

.orgchart .low-level .content {
    background-color: #8701e7;
}

.orgchart .lowest-level .content {
    background-color: #b39a78;
}

/* Symbol for to signify managers */
.orgchart .node .title .symbol {
    position: absolute;
    top: 0;
    right: 9px;
    background-color: #171313;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
}

/* 
|   Lines between nodes
*/

.orgchart tr.lines .topLine {
    border-top: 2px solid #009cdb;
}

.orgchart tr.lines .rightLine {
    border-right: 1px solid #009cdb;
    float: none;
    border-radius: 0;
}

.orgchart tr.lines .leftLine {
    border-left: 1px solid #009cdb;
    float: none;
    border-radius: 0;
}

.orgchart tr.lines .downLine {
    background-color: #009cdb;
    margin: 0 auto;
    height: 20px;
    width: 2px;
    float: none;
}


/* 
|   Edge to close nodes into
*/
.orgchart .node .edge {
    /* color: #fc1575; */
    color: #000000;
}

.orgchart .edge:hover {
    color: #000000;
    cursor: pointer;
    transform: scale(1.5);
}

.orgchart.node.toggleBtn {
    color: black;
}